.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  position: relative;

  &::before {
    content: url('assets/wolox_logo_white.svg');
    position: relative;
    padding: 10px;
  }

  &::after {
    content: 'Copyright 2018. Wolox. All rights reserved.';
    color: white;
    font-size: $text-small;
    align-self: flex-end;
  }

  .footer-text {
    color: white;
    font-size: $text-big;
  }
}
