$nav-height: 90px;
$nav-logo-height: 30px;

.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 0 2px 8px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0 30px;

  .navbar-logo {
    height: $nav-logo-height;
  }

  .navbar-text {
    font-size: $title-decoration-size;
    height: $nav-logo-height;
  }
}

@media only screen and (max-width: 1024px) {
  & {
    display: none;
  }
}
