.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 300px;
  justify-content: space-around;
  width: 200px;
  position: relative;
  transition: position 1s ease;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    content: '';
    height: inherit;
    left: -10px;
    position: absolute;
    top: -10px;
    width: inherit;
    z-index: -1;
  }

  .tech-name {
    font-size: $text-medium;
  }

  .tech-release {
    font-weight: bold;
  }

  .tech-logo {
    height: $tech-logo-size;
    width: $tech-logo-size;
  }

  .tech-desc {
    font-size: $text-medium;
    text-align: center;
  }
}
