.tech {
  align-items: center;
  background-color: $earls-green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 300px;
  justify-content: space-around;
  width: 200px;

  &::before {
    border: 1px solid $earls-green;
    border-radius: 5px;
    content: '';
    height: inherit;
    position: absolute;
    width: inherit;
  }

  .tech-name {
    font-size: $text-medium;
  }

  .tech-relase {
    font-weight: bold;
  }

  .tech-logo {
    height: $tech-logo-size;
    width: $tech-logo-size;
  }

  .tech-desc {
    font-size: $text-medium;
    text-align: center;
  }
}
