$title-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position: relative;
  padding: 38px 0 0 52px;

  &::before {
    background: url('assets/triangle.svg') no-repeat;
    content: '';
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: -1;
  }
}
